<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-png" href="IMAGES/icon.png">
        <link rel="stylesheet" href="CSS/home.css">
        <title>THE PLAYLIST</title>
    </head>
    <body>
        <main>
            <section class="glass">
                <div class="dashboard">
                    <div class="user">
                        <h1 th:text="${user}">UserName</h1>
                        <h2>Your Playlist</h2>
                    </div>
                    <div class="links">
                        <div th:each="p: ${playlist}" th:class="link">
                            <a th:href="@{GoToPlaylist(playlistID=${p.id}" href="sign-in.html">
                                <h2 th:text="${p.title}">Title</h2>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="home">
                    <div class="status">
                        <h1>Home</h1>
                        <input type="text" />
                    </div>
                    <div class="cards">
                        <div class="card">
                            <div class="card-info">
                                <h2>Create Playlist</h2>
                                <div class="input-group">
                                    <form action="/LinkSong" method="post">
                                        <div class="input-field">
                                            <input type="text" class="input-box" id="name" required>
                                            <label for="name">Title</label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-info">
                                <h2>Add Song</h2>
                                <form>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>