<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-png" th:href="@{/images/icon.png}" href="../images/icon.png">
        <link rel="stylesheet" th:href="@{/CSS/home.css}" href="../CSS/home.css">
        <title>THE PLAYLIST</title>
    </head>
    <body>
        <div class="title">
            <h1>Welcome<span th:text=" ${session.user}"> username</span></h1>
        </div>
        <h2 style="text-align: center;">
            HOME
        </h2>
        <div th:if="${generalError != null}" th:class="error">
            <p th:text="${generalEerror}">generalError</p>
        </div>
        <div th:if="${message != null}" style="text-align: center; color: green;">
            <p th:text="${message}">message</p>
        </div>
        
        <div class="container">
            <div class="playlist">
                <h2 class="subtitle">
                    Your Playlist
                </h2>
                <p th:text="${playlistListError}" th:class="error">playlistList error</p>
                <div class="vertical">
                    <table>
                        <tbody>
                            <tr th:each="playtlist : ${playlists}">
                                <td><a th:href="@{/Playlist(playlistName=${playlist.name})}">
                                    <span th:text="${playlist.name}">Playlist name</span></a>
                                </td>
                                <td><span th:text="${#dates.format(playlist.creationDate , 'dd.MM.yyyy')}">dd.MM.yyy</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <h2 class="subtitle">
                    Create new Playlist
                </h2>
                <p th:text="${playlistError}" th:class="error">playlist error</p>
                <form action="CreatePlaylist" method="post">
                    <label for="playlistName">Playlist Name</label>
                    <input type="text" name="playlistName" id="playlistName" required>
                    <input type="submit" class="submit" name="editType" value="CREATE">
                    <div class="vertical" th:each="song, status: ${songs}">
                        <input type="checkbox" th:name="${status.index}" id="${status.index}" value="${song.id}" required>
                        <label for="${status.index}" th:text="${song.title}">song title</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="addsong">
            <h3></h3>
            <h3>Add Song</h3>
            <p th:text="${songError}" th:class="error">song error</p>
            <form action="CreateSong" method="post" enctype="multipart/form-data">
                <label for="songTitle">Song Title</label>
                <input type="text" name="songTitle" id="songTitle" required>
                <br>
                <label for="genre">Genre</label>
                <input list="genre"  name="genre" required>
                <datalist id="genre">
                    <option value="others"></option>
                    <option value="rap"></option>
                    <option value="rock"></option>
                    <option value="jazz"></option>
                    <option value="pop"></option>
                </datalist>
                <br>
                <label for="fileAudio">Upload Track</label>
                <input type="file" name="fileAudio" id="fileAudio" accept="audio/mp3, audio/wav" required>
                <br>
                <label for="albumTitle">Album Title</label>
                <input type="text" name="albumTitle" id="albumTitle" required>
                <br>
                <label for="singer">Singer</label>
                <input type="text" name="singer" id="singer" required>
                <br>
                <label for="fileImage">Upload Cover</label>
                <input type="file" name="fileImage" id="fileImage" accept="img/*" required>
                <br>
                <label for="year">Release Year</label>
                <input type="number" name="year" id="year" required>
                <br>
                <input type="submit" value="Create">
            </form>
        </div>
        <form action="SignOut" method="get">
            <div class="signout">
                <input type="submit" value="Sign Out">
            </div>
        </form>
    </body>
</html>