<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-png" href="images/icon.png">
        <link rel="stylesheet" href="CSS/playlist.css">
        <title>THE PLAYLIST</title>
    </head>
    <body>
        <h1 th:text="${#playlist.getTitle()}" th:class="title" class="title">Title</h1>
        <div th:if="${not #lists.isEmpty(songs)}" th:class="table" class="table">
			<table>
				<tbody>
                    <tr th:each="song : ${songs}">
                        <td>
                            <img th:src="@{GetImage(image=${song.album.fileImage})}" src="../IMAGES/icon.png">
                            <a th:href="@{Song(songId=${song.id})}">
                                <span th:text="${song.title}" th:style="font-size: 40px;" style="font-size: 40px">
                                    Title
                                </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
			</table>
            <div class="button">
                <div th:if="${previousButton}">
                    <button type="button" th:onclick="@{Playlis(playlistName=${playlist.name} , lowerBound=(${lowerBound} - 5))}" >PREC</button>
                </div>
                <div th:if="${nextButton}">
                    <button type="button" th:onclick="@{Playlis(playlistName=${playlist.name} , lowerBound=(${lowerBound} + 5))}" >NEXT</button>
                </div>
            </div>
        </div>
        <h3 th:text="${playlistError}" th:class="error" class="error">errore</h3>
        <h3 th:text="${message}" th:class="message" class="message">message</h3>
        <h2>
            <span th:text="MODIFYING: ${playlistName}">
                MODIFYING: Playlist Name
            </span>
        </h2>
        <form id="form" action="EditPlaylist" method="post">
            <button type="submit" name="playlistName" th:value="${playlistName}">
                <span>
                    UPDATE
                </span>
            </button>
            <div class="vertical">
                <div th:each="song, status: ${notInPlaylistSongs}">
                    <input type="radio" th:name="${status.index}" id="${status.index}" value="${song.id}">
                <label for="${status.index}" th:text="${song.title}">song title</label>
                </div>
            </div>
        </form>
        <form action="SignOut" method="get">
            <div class="signout">
                <input type="submit" value="Sign Out">
            </div>
        </form>
    </body>
</html>