<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-png" href="images/icon.png">
        <link rel="stylesheet" href="CSS/song.css">
        <title>THE PLAYLIST</title>
    </head>
    <body>
        <h3 th:text="${songError}" style="text-align: center; color: red;">errore</h3>
        <div>
            <div class="container">
                <img th:src="@{GetImage(fileImage=(${song.album.fileImage}))}" alt="cover" src="../IMAGES/icon.png">
                <div class="info">
                    <div>
                        <h1 th:text="${song.title}">Title</h1>
                    </div>
                    <div>
                        <h1 th:text="${song.album.singer}">Singer</h1>
                        <h3 th:text="${song.album.title}">Album</h3>
                        <p th:text="${song.genre}">Genre</p>
                    </div>
                </div>
            </div>
            <div class="player">
                <audio controls>
                    <source th:src="@GetAudio(fileAudio=(${song.fileAudio}))" th:type="${songType}">
                    Your browser does not support the audio element.
                  </audio>
            </div>
        </div>
        <form action="SignOut" method="get">
            <div class="signout">
                <input type="submit" value="Sign Out">
            </div>
        </form>
    </body>
</html>