<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-png" href="../IMAGES/icon.png">
        <link rel="stylesheet" href="../CSS/home.css">
        <title>THE PLAYLIST</title>
    </head>
    <body>
        <div class="title">
            <h1>Welcome<span th:text=" ${user}"> username</span></h1>
        </div>
        <h2 style="text-align: center;">
            HOME
        </h2>
        <div th:if="${generalError != null}" style="text-align: center; color: red;">
            <p th:text="${generalEerror}">generalError</p>
        </div>
        <div th:if="${message != null}" style="text-align: center; color: green;">
            <p th:text="${message}">message</p>
        </div>
        
        <div class="container">
            <div class="playlist">
                <h2>
                    Your Playlist
                </h2>
                <div class="vertical">
                    <p th:text="${playlistListError}" th:style="color: red;" style="color:red">playlistList error</p>
                    <div th:class="playlistTable" th:if="${not #lists.isEmpty(playlists)}">
                        <form action="/Home" method="post" th:each="p: ${plalists}">
                            <button type="submit" name="playlistName" th:value="${p.name}">
                                <span th:text="${p.name}">Playlist Name&emsp;</span>
                                <span th:text="${#dates.format(p.date , 'dd.MM.yyyy')}">dd.MM.yyyy</span>
                            </button>
                        </form>    
                    </div>
                </div>
            </div>
            <div class="input-new-playlist">
                <h3>
                    Create new Playlist
                </h3>
                <p th:text="${playlistError}" th:style="color: red" style="color:red">playlist error</p>
                <form action="/CreatePlaylist" method="post">
                    <label for="playlistName">Playlist Name</label>
                    <input type="text" name="playlistName" id="playlistName" required>
                    <input type="submit" class="submit" name="editType" value="CREATE">
                    <div class="vertical" th:each="song, status: ${songs}">
                        <input type="checkbox" th:name="${status.index}" id="${status.index}" value="${song.id}" required>
                        <label for="${status.index}" th:text="${song.title}">song title</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="input-add-song" style="line-height: 2;">
            <h3></h3>
            <h3>Add Song</h3>
            <p th:text="${songError}" th:style="color: red" style="color:red">song error</p>
            <form action="/Song" method="post" enctype="multipart/form-data">
                <label for="songTitle">Song Title</label>
                <input type="text" name="songTitle" id="songTitle" required>
                <br>
                <label for="genre">Genre</label>
                <input list="genre"  name="genre" required>
                <datalist id="genre">
                    <option value="others"></option>
                    <option value="rap"></option>
                    <option value="rock"></option>
                    <option value="jazz"></option>
                    <option value="pop"></option>
                </datalist>
                <br>
                <label for="fileAudio">Upload Track</label>
                <input type="file" name="fileAudio" id="fileAudio" accept="audio/mp3, audio/wav" required>
                <br>
                <label for="albumTitle">Album Title</label>
                <input type="text" name="albumTitle" id="albumTitle" required>
                <br>
                <label for="singer">Singer</label>
                <input type="text" name="singer" id="singer" required>
                <br>
                <label for="fileImage">Upload Cover</label>
                <input type="file" name="fileImage" id="fileImage" accept="img/*" required>
                <br>
                <label for="year">Release Year</label>
                <input type="number" name="year" id="year" required>
                <br>
                <input type="submit" class="submit" value="Create">
            </form>
        </div>
        <form action="/Logout" method="post">
            <div class="logout">
                <input type="submit" class="submit" value="Logout">
            </div>
        </form>
    </body>
</html>