<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-png" href="../IMAGES/icon.png">
        <link rel="stylesheet" href="../CSS/modify-playlist.css">
        <title>THE PLAYLIST</title>
    </head>
    <body>
        <h2>
            <span th:text="MODIFYING: ${playlistName}">
                MODIFYING: Playlist Name
            </span>
            <button type="submit" id="form" type="submit" name="editVariables" td:value="${editType}_${playlistName}">
                <span>
                    UPDATE
                </span>
            </button>
        </h2>
        <div th:if="#${error}!=null">
            <h3 th:text="${error}" style="color: red">error</h3>
        </div>
        <div th:else>
            <form id="form" action="/EditPlaylist" method="post" th:each="song, status: ${songs}">
                <input type="checkbox" th:name="${status.index}" id="${status.index}" value="${song.id}">
                <label for="${status.index}" th:text="${song.title}">song title</label>
            </form>
        </div>
        <form action="/Logout" method="post">
            <div class="logout" style="position: fixed;
            top: 10px;
            right: 10px;">
                <input type="submit" class="submit" value="Logout">
            </div>
        </form>
    </body>
</html>